.web-blue {
    color: #2196F3;
}
.stydio-dark {
color: #2F303A;
}
.button1 {
    background-color:  #2196F3;
    color: white;
}
.p-white {
 color: white;
}
.section_dark {
    background-color: #2F303A;
}
.dark{
    color: #2F303A;
}
.header-white{
    background-color: white;
}
.white {
    background-color: white;
}
.back-dark {
    background-color: #2F303A;
}
.stydio-white{
    color: white;
}
.a-white {
    color: white;
}
.grey {
    color: darkgrey;
}
